body {
    margin: 0;
    overflow: hidden;
}

/*.backdrop {
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%);
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%, #a0d8ef 100%);
}*/

.backdrop {
    background: -moz-linear-gradient(top, #feffff 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #feffff 0%, #000000 100%);
}

.full {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}
